.bulb {
    --bulb-size: 70px;
    background-size: contain;
    transition: background-image 0.5s ease, transform 0.5s ease-in-out;
    cursor: pointer;
    width: var(--bulb-size);
    height: var(--bulb-size);
}

.bulbOn {
    background-image: url(/images/bulb-on.png);
    transform: rotate(-60deg);
}

.bulbOff {
    background-image: url(/images/bulb-off.png);
    transform: rotate(0);
}
