.container {
  padding: 0 2rem;
}

.main {
  min-height: 50vh;
}

.nala {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.5px solid var(--border-color);
  margin-bottom: 1rem;
  ;
}

.logo {
  cursor: pointer;
  transition: transform 1s ease-in;
}

.logo:hover {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


@media (prefers-color-scheme: dark) {
  
}