.beforeGradient {
  --circle-width: 150px;
  --circle-height: 150px;
}

.beforeGradient::before {
  opacity: 1;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  height: var(--circle-width);
  width: var(--circle-height);
  border-radius: 9999px;
  background-color: hsl(var(--primary));
  opacity: 0;
  filter: blur(10px);
  transition: all 200ms ease-out;
  transform: translate(
    calc(var(--mouse-x) - var(--circle-width) / 2),
    calc(var(--mouse-y) - var(--circle-height) / 2)
  );
}

.beforeGradient:hover::before {
  opacity: 0.3;
  filter: blur(60px);
}
